        #portfolio .container-fluid,
        #portfolio .container-sm,
        #portfolio .container-md,
        #portfolio .container-lg,
        #portfolio .container-xl,
        #portfolio .container-xxl {
            max-width: 1920px;
        }
        
        #portfolio .container-fluid .portfolio-box,
        #portfolio .container-sm .portfolio-box,
        #portfolio .container-md .portfolio-box,
        #portfolio .container-lg .portfolio-box,
        #portfolio .container-xl .portfolio-box,
        #portfolio .container-xxl .portfolio-box {
            position: relative;
            display: block;
        }
        
        #portfolio .container-fluid .portfolio-box .portfolio-box-caption,
        #portfolio .container-sm .portfolio-box .portfolio-box-caption,
        #portfolio .container-md .portfolio-box .portfolio-box-caption,
        #portfolio .container-lg .portfolio-box .portfolio-box-caption,
        #portfolio .container-xl .portfolio-box .portfolio-box-caption,
        #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            opacity: 0;
            color: #fff;
            background: rgba(100, 136, 127, 0.9);
            transition: opacity 0.25s ease;
            text-align: center;
        }
        
        #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category,
        #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category,
        #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category,
        #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category,
        #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category,
        #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
            font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 0.85rem;
            font-weight: 600;
            text-transform: uppercase;
        }
        
        #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name,
        #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name,
        #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name,
        #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name,
        #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name,
        #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
            font-size: 1.2rem;
        }
        
        #portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption,
        #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption,
        #portfolio .container-md .portfolio-box:hover .portfolio-box-caption,
        #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption,
        #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption,
        #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
            opacity: 1;
        }
        
        body {
            overflow-x: hidden;
            overflow-y: scroll;
            font-family: Microsoft JhengHei;
        }
        
        hr.divider {
            height: 0.2rem;
            max-width: 3.25rem;
            margin: 1.5rem auto;
            background-color: rgba(64, 145, 124, 0.9);
            opacity: 1;
        }
        
        .btn-primary {
            color: #fff;
            background-color: rgba(64, 145, 124, 0.9);
            border-color: rgba(64, 145, 124, 0.9);
        }
        
        .btn-primary:hover {
            color: #fff;
            background-color: rgba(101, 161, 145, 0.9);
            border-color: rgba(101, 161, 145, 0.9);
        }
        
        .btn-check:focus+.btn-primary,
        .btn-primary:focus {
            color: #fff;
            background-color: rgba(64, 145, 124, 0.9);
            border-color: rgba(64, 145, 124, 0.9);
            box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
        }
        
        .btn-check:checked+.btn-primary,
        .btn-check:active+.btn-primary,
        .btn-primary:active,
        .btn-primary.active,
        .show>.btn-primary.dropdown-toggle {
            color: #fff;
            background-color: rgba(64, 145, 124, 0.9);
            border-color: rgba(64, 145, 124, 0.9);
        }
        
        .btn-check:checked+.btn-primary:focus,
        .btn-check:active+.btn-primary:focus,
        .btn-primary:active:focus,
        .btn-primary.active:focus,
        .show>.btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
        }
        
        .btn-primary:disabled,
        .btn-primary.disabled {
            color: #fff;
            background-color: rgba(64, 145, 124, 0.9);
            border-color: rgba(64, 145, 124, 0.9);
        }
        
        .btn-xl {
            padding: 1.25rem 2.25rem;
            font-size: 0.85rem;
            font-weight: 700;
            text-transform: uppercase;
            border: none;
            border-radius: 10rem;
        }
        
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        
        .form-signin .checkbox {
            font-weight: 400;
        }
        
        .form-signin .form-floating:focus-within {
            z-index: 2;
        }
        
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        
        .footer-text {
            color: #6c757d;
            text-decoration: none;
        }
        
        .bg {
            --bs-bg-opacity: 1;
            background-color: rgba(100, 136, 127, 0.9);
            color: white
        }
        
        .bg a {
            color: white
        }
        
        .bg a :hover {
            color: rgba(100, 136, 127, 0.9);
        }
        
        .btn-xl {
            color: #fff;
            background-color: #2fbda5;
            border-color: #2fbda5;
            font-family: "Robot", sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 3px;
            font-size: 18px;
            padding: 10px 20px;
        }
        
        hr.divider {
            height: 0.2rem;
            max-width: 3.25rem;
            margin: 1.5rem auto;
            background-color: #2fbda5;
            opacity: 1;
        }
        
        .skillbar-bar {
            display: block;
            background-color: #dfdfdf;
            height: 3px;
            width: 100%;
        }
        
        .skills-text h2 {
            margin: 0 0 30px;
        }
        
        .skillbar-item {
            margin-bottom: 30px;
        }
        
        .skillbar {
            position: relative;
            display: block;
            width: 100%;
        }
        
        .skillbar-score {
            background-color: #dfdfdf;
            padding: 7px;
            text-align: center;
            color: #000000;
            font-weight: 300;
            float: right;
            width: 50px;
            height: 40px;
            vertical-align: middle;
        }
        
        .skillbar-score .score {
            font-size: 20px;
        }
        
        .skillbar-score .percent {
            font-size: 20px;
        }
        
        .skillbar-bar {
            display: block;
            background-color: #fff;
            height: 3px;
            width: 100%;
        }
        
        .skillbar h3 {
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 0;
            padding: 12px 0;
        }
        
        .skillbar-percent {
            color: #fff;
            background-color: #000000;
            float: left;
            height: 3px;
        }
        
        .section-title h2 {
            font-size: 34px;
            text-transform: uppercase;
        }
        
        .section-title p {
            font-size: 15px;
            font-weight: 300;
            line-height: 25px;
            margin: 20px 100px 60px 100px;
        }
        
        .add-btn {
            color: #fff;
            background-color: #141414;
            border: 1px solid #0f1d40;
        }
        
        .list-group-item-action {
            background-color: white;
        }
        
        .list-group-item-action:hover,
        .list-group-item-action:focus {
            background-color: rgba(100, 136, 127, 0.9);
            color: #fff;
        }
        
        .list-group-item.active {
            background-color: rgba(100, 136, 127, 0.9);
            border-color: rgba(100, 136, 127, 0.9);
        }
        
        .page-item.active .page-link {
            background-color: rgba(100, 136, 127, 0.9);
            border-color: rgba(100, 136, 127, 0.9);
        }
        
        .page-link {
            color: rgba(100, 136, 127, 0.9);
        }
        
        @media screen and (max-width:900px) {
            #indexcontent {
                visibility: hidden;
            }
        }
        
        .loader-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #242f3f;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .btn-absolute {
            position: absolute !important;
            bottom: 8px;
        }
        
        .pd-1 {
            padding: 8px;
        }
        
        .mt-3 {
            margin-top: 24px;
        }
        
        .ml-1 {
            margin-left: 8px;
        }
        
        .mr-1 {
            margin-right: 8px;
        }
        
        .mr-3 {
            margin-right: 24px;
        }
        
        .mb-1 {
            margin-bottom: 8px;
        }
        
        .mb-2 {
            margin-bottom: 16px;
        }
        
        .mb-3 {
            margin-bottom: 24px;
        }
        
        .mg0-a {
            margin: 0 auto;
        }
        
        .mg20-a {
            margin: auto;
        }
        
        .loader {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: relative;
            border: 4px solid #Fff;
            animation: loader 2s infinite ease;
        }
        
        .loader-inner {
            vertical-align: top;
            display: inline-block;
            width: 100%;
            background-color: #fff;
            animation: loader-inner 2s infinite ease-in;
        }
        
        .footer.navbar-nav li :hover {
            background-color: red;
        }
        
        .bg-green {
            background-color: #eff5ef;
        }
        
        .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        @keyframes loader {
            0% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(180deg);
            }
            50% {
                transform: rotate(180deg);
            }
            75% {
                transform: rotate(360deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        
        @keyframes loader-inner {
            0% {
                height: 0%;
            }
            25% {
                height: 0%;
            }
            50% {
                height: 100%;
            }
            75% {
                height: 100%;
            }
            100% {
                height: 0%;
            }
        }
        
        .header-a {
            color: white;
        }
        
        .header-background {
            background-color: #64887FE6;
            color: white;
            height: 78px;
        }
        
        .header-a:hover {
            font-weight: 700;
            color: white;
        }
        
        .navbar-light .navbar-toggler-icon {
            border-color: rgb(255, 102, 203);
        }
        
        .navbar-brand {
            font-size: 2em;
        }
        
        .nav-link {
            font-size: 1.2em;
            position: relative;
        }
        
        .nav-item {
            margin: 0 24px;
        }
        
        .nav-item :hover {
            color: #198754;
        }
        
        .navbar-dark .navbar-nav .show>.nav-link,
        .navbar-dark .navbar-nav .nav-link.active {
            color: #fff;
        }
        
        .section-padding {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        
        .pricing {
            background-image: url('../image/maria-stewart-p4tj0g-_aMM-unsplash.jpg');
            background-blend-mode: multiply;
            background-color: rgba(0, 0, 0, .6);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
        }
        
        .pricing .container {
            position: relative;
            z-index: 2;
        }
        
        .pricing-plan {
            padding: 60px 40px 40px 40px;
            position: relative;
        }
        
        .pricing-header {
            border-bottom: 1px solid #dee2e6;
            padding-bottom: 30px;
        }
        
        .pricing-icon {
            font-size: 45px;
        }
        
        .pricing-name {
            margin-left: 50px;
        }
        
        .pricing-price {
            margin-left: auto;
        }
        
        .pricing-recommend {
            background: var(--primary-color);
            color: var(--white-color);
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 10px 20px;
            position: absolute;
            top: 0;
            right: 0;
        }
        
        .pricing-body {
            margin-top: 60px;
            margin-right: 50px;
            margin-left: 95px;
        }
        
        .pricing-list {
            padding-left: 15px;
        }
        
        .pricing-list-item {
            color: var(--p-color);
            font-size: var(--p-font-size);
            font-weight: var(--font-weight-light);
            line-height: normal;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
        .end-10 {
            right: 1em !important;
        }
        
        .top-0_5 {
            top: 0.5em !important;
        }
        
        .featured-circle {
            border-radius: 100%;
            width: 350px;
            height: 350px;
            margin: 0 auto;
            padding: 0 20px;
        }
        
        .featured-text {
            font-size: var(--h6-font-size);
            line-height: 2rem;
            font-weight: var(--font-weight-bold);
            text-align: center;
            margin-bottom: 0;
        }
        
        .featured-number {
            color: blue;
            font-size: 8rem;
            margin: 0 10px;
        }
        
        .circle {
            width: 100px;
            height: 100px;
            line-height: 24px;
            position: relative;
        }
        
        .rounded-circle {
            border-radius: 50%!important;
        }
        
        .bg-primary {
            background-color: #1f6d25!important;
        }
        
        .bg-secondary {
            background-color: #eff5ef!important;
        }
        
        .text-primary {
            color: #1f6d25!important;
        }
        
        .d-flex-center {
            display: flex;
            justify-content: center;
        }
        
        .lineleft {
            width: 40%;
            height: 6px;
            position: absolute;
            top: 40%;
            background-color: #eff5ef;
        }
        
        .lineright {
            width: 40%;
            height: 6px;
            left: 50%;
            position: absolute;
            top: 40%;
            background-color: #eff5ef;
        }
        
        .lineleftPay {
            width: 40%;
            height: 6px;
            position: absolute;
            top: 40%;
            background-color: green;
        }
        
        .linerightPay {
            width: 40%;
            height: 6px;
            left: 50%;
            position: absolute;
            top: 40%;
            background-color: green;
        }
        
        .shake {
            animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
            transform: translate3d(0, 0, 0);
        }
        
        @keyframes shake {
            10%,
            90% {
                transform: translate3d(-1px, 0, 0);
            }
            20%,
            80% {
                transform: translate3d(2px, 0, 0);
            }
            30%,
            50%,
            70% {
                transform: translate3d(-4px, 0, 0);
            }
            40%,
            60% {
                transform: translate3d(4px, 0, 0);
            }
        }