<div class="container mt-4 mb-4">
    <div class="row justify-content-between" style="">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">確認訂單</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">建立訂單</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">完成訂單</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-between">
        <div class="col-md-6 col-lg-5 px-3">
            <h2 class="fs-4 d-flex mb-4"> 訂單內容&nbsp; <span class="text-danger">(未付款)</span></h2>
            <ul class="list-unstyled">
                <li class="d-flex align-items-center mb-4">
                    <div class="cart-img" style="background-image: url(&quot;https://storage.googleapis.com/vue-course-api.appspot.com/panya/1627476685625.jpeg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&amp;Expires=1742169600&amp;Signature=OLLvHPrRYnoYfHoOXnCLFX4PKeOfdLx3nZrVc4ZLSyTuwHscl0aEaBVkgMNHPjAbC97QSGuvUt4Pg4SXlGn4V5CAZ2ZwSer7y9evXgkUI0EIpIDmx2gBCSZvTzH2YwUl%2FGYqPbD40CMaq1JyGTgurQKcXPFXmHcIPZsqpLqo%2B2gX9sXQXjq8bVaMLcouVWaUK75ZO4DiXrAH%2BuL5xWkrBNgj5sN40rgBWU82zpdCzX8yXQeZq%2Bs7dbll3IAEe%2BvpgLb6SovHzzV7OR2pByz%2Fi86yx%2FfAT3T1ScoerMcWxubrdgMHjSlsqA0cn%2BLMWMqGolJNuqyusCO1zNHwlChVhw%3D%3D&quot;);"></div>
                    <div class="cart-cont col px-3 d-flex">
                        <div class="col-7 pe-2">
                            <p class="m-0">歐式麵包</p><small>數量：1</small></div>
                        <div class="col-5 ls-1 text-end">$ 120 NTD</div>
                    </div>
                </li>
                <li class="d-flex align-items-center mb-4">
                    <div class="cart-img" style="background-image: url(&quot;https://storage.googleapis.com/vue-course-api.appspot.com/panya/1627542124357.jpeg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&amp;Expires=1742169600&amp;Signature=EyuxGnmMuXURjgUP%2Fp8DXWYU4eVlTM9C3L0Zlkya19v557PuO6aQGeDPCuQu2SvrJloaC5%2F0mr74dKjBn1ay29zsfP8k4Myz8mvZPCMy9%2Bozvatsb2a%2BbnTCWpsEYLoc35Hvi7tl9oOsXmuWBWVoXMSjt%2BIQXil8Os%2FD4%2BP2lE%2Fo%2F3PCLHaoFLR4yoyJjYjzi3DgNEGPEFHcnBrPKjl47Di1yKj8mbKAUZBmVd1%2F%2FDSSQMvwnDhqLT0CH2w6tA99FtvVuKTZCsrmJK29TMz%2F2B3klFof6SO069Y3zm2g9P9qTH1vt1yYpiqim4Xy%2BlPIYmrkcSz9AmPegOGL4WLhOQ%3D%3D&quot;);"></div>
                    <div class="cart-cont col px-3 d-flex">
                        <div class="col-7 pe-2">
                            <p class="m-0">鮮奶白麵包</p><small>數量：1</small></div>
                        <div class="col-5 ls-1 text-end">$ 220 NTD</div>
                    </div>
                </li>
            </ul>
            <hr>
            <p class="text-primary"> 總計金額：$ <span class="fs-4">340</span> NTD </p>
        </div>
        <div class="col-md-6 p-4 py-5 p-md-5 bg-white">
            <h2 class="fs-4 d-flex mb-4">訂購資訊</h2>
            <ul class="list-unstyled">
                <li class="d-flex">
                    <p class="col-4">訂單金額：</p>
                    <p class="col text-danger"> $ <b class="fs-5">340</b> NTD </p>
                </li>
                <li class="d-flex">
                    <p class="col-4 text-nowrap">訂單編號：</p>
                    <p class="col">-MzW0AyQjKhQfoc8iXqd</p>
                </li>
                <li class="d-flex">
                    <p class="col-4">訂購時間：</p>
                    <p class="col">2022/4/1 01:27:39</p>
                </li>
                <!---->
                <li class="d-flex">
                    <p class="col-4">Email：</p>
                    <p class="col">wilsoncheng0704.wc@gmail.com</p>
                </li>
                <li class="d-flex">
                    <p class="col-4">收件人姓名：</p>
                    <p class="col">wilson</p>
                </li>
                <li class="d-flex">
                    <p class="col-4">聯絡電話</p>
                    <p class="col">0918719198</p>
                </li>
                <li class="d-flex">
                    <p class="col-4">收件地址：</p>
                    <p class="col">左營區重立路158號7樓w</p>
                </li>
                <li class="d-flex">
                    <p class="col-4">備註：</p>
                    <p class="col">無</p>
                </li>
            </ul><button type="submit" class="btn btn-primary w-100 py-3 mt-5">信用卡付款</button></div>
    </div>
</div>